<nav ngxNavbarDynamicExpand class="navbar-light bg-light p-0">
  <ngx-navbar-collapse id="main-nav" #collapse="ngxNavbarCollapse">
    <input class="form-control me-2" type="text" placeholder="Search by user id" aria-label="Search" (keyup)="searchUsersById($event)">
  </ngx-navbar-collapse>
</nav>

<section class="p-5">
  <div>
    <div *ngIf="searchingUser">
      <div class="row" *ngIf="foundUser">
        <div class="user card offset-lg-3 col-lg-6 col-sm-12 p-0 h-100" style="width: 18rem;">
          <img src="{{searchedUser?.avatar}}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">{{searchedUser?.first_name}} {{searchedUser?.last_name}}</h5>
            <p>{{searchedUser?.email}}</p>
            <a href="/users">back to list</a></div>
        </div>
      </div>
      <div *ngIf="!foundUser">
        <h4>User not found</h4>
      </div>
    </div>

    <div *ngIf="!searchingUser" >
      <div id="users" class="row">
        <div class="col-lg-3 col-sm-6 mb-5" *ngFor="let user of pagedUsers">
          <div class="user card h-100">
            <img src="{{user.avatar}}" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
              <p>{{user.email}}</p>
              <a href="/users/details/{{user.id}}">details</a>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <pagination class="d-inline-flex" [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="pageNumber" [itemsPerPage]="PerPage" [maxSize]="10" (pageChanged)="setPage($event)"></pagination>
      </div>
    </div>

  </div>
</section>


