/* loader.component.css */
.loading-spinner{
  background-color: #000000aa;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: grid;
  z-index: 10;
}
