<div class="row">
  <div class="user card offset-lg-3 col-lg-6 col-sm-12 p-0 h-100" style="width: 18rem;">
    <img src="{{user?.avatar}}" class="card-img-top" alt="...">
    <div class="card-body text-center">
      <h5 class="card-title">{{user?.first_name}} {{user?.last_name}}</h5>
      <p>{{user?.email}}</p>
      <a href="/users">back to list</a>    </div>
  </div>
</div>
