/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html {
  height: 100%;

  //body {
  //  position: absolute;
  //  left: 50%;
  //  top: 50%;
  //  transform: translate(-50%, -50%);
  //  width: 100%;
  //
  //  //.vertical-center {
  //  //  margin: 0 auto;
  //  //  position: absolute;
  //  //  top: 50%;
  //  //  -ms-transform: translateY(-50%);
  //  //  transform: translateY(-50%);
  //  //}
  //}
}
